# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
Venv/
ENV/
env.bak/
venv.bak/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Pyre type checker
.pyre/

# Pylint
.pylint.d/

# macOS
.DS_Store

# Environments
*.env

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# Python specific logs
*.log
